<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TOTP - GC GMCO 2023</title>
</head>
<body>

    <h3>Halo {{ .Name }}</h3>
    <p>Terima kasih atas kunjungan anda. Ini adalah kode TOTP anda</p>
    <h2>{{ .Totp }}</h2>
    <p>Kode ini hanya dapat digunakan sekali dan hanya valid selama 5 menit kedepan. </p>

    <p>Peringatan! Kode dan email ini dibuat karena terdapat aksi yang meregistrasikan email ini pada website ticketing Gadjah Mada Chamber Orchestra</p>
    <b>Jangan memberikan kode ini kepada siapapun selain Anda</b>
    <br/><br/>
    <p>Terima Kasih, Gadjah Mada Chamber Orchestra</p>


</body>
</html>